body {
    font-family: "Gilam", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    background-color: #000;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    margin: 0 auto;
    max-width: 1460px;
}
.header-logo {
    margin-top: 37px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-phone-link {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    border: 1px solid #e4b564;
}
.header-phone-text {
    font-family: Circe, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #e4b564;
    padding-left: 10px;
}
.networks {
    min-height: 125px;
    padding-bottom: 41px;
}
.networks-content {
    max-width: 1182px;
}
.title {
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 41px;
}
.networks-text {
    line-height: 28px;
}
.networks-list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-height: 964px;
    margin-bottom: 161px;
}
.text {
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    display: grid;
    align-items: center;
    justify-items: center;
}
.text-1 {
    grid-area: 1 / 1 / 2 / 3;
    background: #634f2c;
}
.text-2 {
    grid-area: 1 / 3 / 2 / 5;
    background: #b4a385;
}
.text-3 {
    grid-area: 1 / 5 / 2 / 7;
    background: #e4b564;
}
.text-4 {
    grid-area: 2 / 1 / 3 / 4;
    background: #635a4a;
}
.text-5 {
    grid-area: 2 / 4 / 3 / 7;
    background: #b08c4d;
}
.mechanism {
    padding-bottom: 54px;
}
.mechanism-list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    min-height: 900px;
    margin-bottom: 191px;
}
.text-1-1 {
    grid-area: 1 / 1 / 4 / 2;
    background: #0E0E0E
}
.text-1-2 {
    grid-area: 1 / 2 / 5 / 3;
    background: #242424
}
.text-1-3 {
    grid-area: 1 / 3 / 3 / 4;
    background: #1F1F1F
}
.text-1-4 {
    grid-area: 4 / 1 / 8 / 2;
    background: #1F1F1F
}
.text-1-5 {
    grid-area: 5 / 2 / 8 / 3;
    background: #E4B564
}
.text-1-6 {
    grid-area: 3 / 3 / 6 / 4;
    background: #0E0E0E
}
.text-1-7 {
    grid-area: 6 / 3 / 8 / 4;
    background: #0A0909
}
.mechanism-list .text {
    display: flex;
    align-items: start;
    justify-items: start;
    padding: 45px 50px 50px 50px;
    text-align: left;
}
.text-book {
    font-weight: 400;
}
.text-regular {
    font-weight: 500;
}
.text-regular-black {
    font-weight: 500;
    color: #0E0E0E;
}
.text-projekt {
    font-weight: 600;
}
.projects {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.projects-content {
    padding-top: 172px;
    padding-bottom: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects-link {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    border: 1px solid #e4b564;
}
.projects-title {
    font-size: 50px;
    line-height: 50px;
}
.projects-link-text {
    font-family: Circe, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #e4b564;
    padding-left: 10px;
}
.projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-height: 782px;
    margin-bottom: 191px;
}
.logo {
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo-1 {
    grid-area: 1 / 1 / 2 / 2;
    background: #634F2C
}
.logo-2 {
    grid-area: 1 / 2 / 2 / 3;
    background: rgba(232, 210, 171, 0.76)
}
.logo-2-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo-3 {
    grid-area: 1 / 3 / 2 / 4;
    background: #E4B564
}
.logo-4 {
    grid-area: 2 / 1 / 3 / 2;
    background: #635A4A
}
.logo-5 {
    grid-area: 2 / 2 / 3 / 3;
    background: #B08C4D
}
.logo-6 {
    grid-area: 2 / 3 / 3 / 4;
    background: #634F2C
}
.text:hover {
    box-shadow: inset 0 0 0 30px #865406;
    transform: scale(1.1);
    transition: 5s;
}
.logo:hover {
    box-shadow: 0 0 0 30px #865406;
    transform: scale(0.8);
    transition: 5s;
}
.header-phone-link:hover {
    background: #222F3A;
    border-color: #FFFFFF;
    transform: scale(1.1);
    transition: 5s;
}
.header-logo-link:hover {
    transform: scale(1.2);
    transition: 5s;
}
.projects-link:hover {
    background: #222F3A;
    border-color: #FFFFFF;
    transform: scale(1.1);
    transition: 5s;
}